<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Procesador de Imágenes</title>
</head>
<body>
    <div class="grilla-tron"></div>
    <header>
        <h1>Procesador de Imágenes y Analizador de Texto</h1>
    </header>
    <main>
        <div class="container-integrantes">
            <h2>Integrantes del Equipo</h2>
            <ul>
                <li>Paula Domínguez</li>
                <li>Juan Manuel Etchehun</li>
                <li>Alejandro Rodríguez</li>
            </ul>
        </div>

        <div class="linea-separador scan-hover"></div>

        <div class="texto-container">
            <p class="text">Con el fin de poder resolver la problemática de que los documentos en forma de imagen (JPG, BMP, PNG, entre otros) decidimos poner en marcha el proyecto mediante el análisis, modificación opcional y manipulación de imagen para después pasar a por un sistema en que se pueda identificar el texto de una imagen y asi poder reconvertirlo en un formato digital editable. <br><br>Para la realización de este MVP, utilizamos Python para la codificación junto con las librerias Pillow y OpenCv que son utilizadas para la manipuación de las imágenes. En cuanto al análisis y detección de texto, se utilizó Tesseract y se conectó mediante Flask a una interfaz simple y con un diseño innovador para así, poder darle una apariencia futurista / ciberpunk.
            </p>
        </div>

        <div class="container-procesador">
            <form id="uploadForm">
                <label for="image">Selecciona una imagen para procesar</label>
                <input type="file" id="image" name="image" accept="image/*" required>
                
                <div id="previewWrapper" class="preview-container">
                    <h3>Vista Previa</h3>
                    <img id="localPreview" class="thumbnail" src="" alt="Miniatura local">
                </div>

                <div class="panelEfectos" id="panelEfectos">
                    <h3>Efectos Manuales Opcionales</h3>
                    <p>Seleccioná los efectos que querés aplicar antes del análisis.</p>
                    
                    <select id="selectorEfectos">
                        <option value="">-- Elegir efecto --</option>
                        <option value="gris">Escala de Grises</option>
                        <option value="binarizar">Binarización (Blanco y Negro)</option>
                        <option value="desenfoque">Reducción de Ruido</option>
                        <option value="brillo">Ajuste de Brillo/Contraste</option>
                    </select>
                    
                    <button type="button" id="btnAgregarEfecto">Añadir a la cola</button>
                    
                    <ul id="listaEfectosElegidos"></ul>
                    
                    <input type="hidden" id="efectosOcultos" name="efectos" value="">

                    <button type="button" id="btnFinalizarEfectos">Terminar de editar</button>
                </div>
    
                <button type="submit" style="margin-top: 15px;">Subir y Procesar</button>
            </form>
    
            <div id="resultWrapper" class="resultado-container">
                <h2>Resultados del Análisis</h2>
                <p id="statusMsg"></p>
                
                <div>
                    <img id="finalImage" class="img-final" src="" alt="Resultado Final">
                </div>

                <div class="panelMetricas" id="panelMetricas" >
                    <h4>Métricas de Análisis Visual</h4>
                    <p><strong>Brillo Promedio:</strong> <span id="metricaBrillo"></span></p>
                    <p><strong>Nivel de Desenfoque:</strong> <span id="metricaDesenfoque"></span></p>
                    <p><strong>Dimensiones:</strong> <span id="metricaDimensiones"></span></p>
                </div>
                
                <div>
                    <h3>Texto Analizado:</h3>
                    <div id="textAnalysisOutput" class="output-texto"></div>
                </div>
            </div>
            
        </div>
    </main>
    <footer>
        <p>&copy; 2026 Procesamiento Digital de Imágenes | Tec. en Ciencias de Datos e Inteligencia Artificial | IFTS N° 18 | Todos los derechos reservados.</p>
    </footer>
    <script src="static/js/script.js"></script>
</body>
</html>